{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Settings user</h4>
        <form method="POST" action=""> {% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
                <button type="submit" value="Find" class="btn btn-primary">Save</button>
            </div>
        </form>
        <form method="POST" action="{% url 'accounts:delete' %} "> {% csrf_token %}
                <button type="submit" value="Find" class="btn btn-danger" my-3 >Delete</button>
        </form>
    </div>
</div>

{% endblock content %}




