{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Settings user</h4>
        <form method="POST" action=""> {% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
                <button type="submit" value="Find" class="btn btn-primary">Save</button>
            </div>
        </form>
        <form method="POST" action="{% url 'accounts:delete' %} "> {% csrf_token %}
                <button type="submit" value="Find" class="btn btn-danger" my-3 >Delete</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto">
        <p class="my-2">Request form for adding a new city and language</p>
<!-- https://getbootstrap.com/docs/4.4/components/collapse/       -->
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsed" aria-expanded="false" aria-controls="collapseExample">
                Show form request
              </button>
            </p>
            <div class="collapse" id="collapsed">
              <div class="card card-body">
                 <form method="POST" action="{% url 'accounts:contact' %}"> {% csrf_token %}
                    <div class="form-group">
                        {{contact_Form.as_p}}
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                 </form>
              </div>
            </div>
    </div>
</div>

{% endblock content %}




